.button-white {
    background: transparent;
    border: 1px solid $white;
    color: $white;
    font-weight: 600;

    &:hover {
        color: $black;
        border-color: $primary-color;
    }
}

.element-inline {
    display: inline-block;
    vertical-align: top;
}