// Anchors

.white-link {
    color: $white;
}

.blue-link {
    color: $blue !important;
}

// Buttons

.button {
    font-weight: 800;
}

.button-white {
    background: transparent;
    border: 2px solid $white;
    color: $white;
    font-weight: 600;

    &:hover {
        color: $black;
        border-color: $primary-color;
    }
}

.button-blue {
    background: $blue;
    color: $white;
    font-weight: 600;

    &:hover {
        color: $white;
        background: lighten($blue, 15%);
    }
}

.button-dark {
    background: transparent;
    border: 2px solid $dark-gray;
    color: $dark-gray;
    font-weight: 600;

    &:hover {
        color: $white;
        background: $dark-gray;
    }
}

.button-light-gray {
    background: $light-gray;
    border: 2px solid $light-gray;
    color: $white;
    font-weight: 600;

    &:hover {
        color: $body-font-color;
        background: $primary-color;
    }
}

.button-dark-bg {
    background: $dark-gray;
    border: none;
    color: $white;
    font-weight: 600;

    &:hover {
        color: $black;
        border-color: $primary-color;
    }
}

.button-primary {
    color: $dark-gray;
    font-weight: 800;
    background: $primary-color;

    &:hover {
        background: $dark-gray;
        color: $white;
    }
}

.button-primary-transparent {
    color: $primary-color !important;
    font-weight: 800;
    background: transparent;
    border: 1px solid $primary-color;

    &:hover {
        background: $primary-color;
        color: $dark-gray;
    }
}

.button.small-expanded {
    @include breakpoint(small only) {
        display: block !important;
        margin-top: rem-calc(10);
        width: 100%;
    }
}

.close-button, .close-button.medium {
    right: 1rem;
    top: 0.5rem;
    font-size: 2em;
    line-height: 1;
}

.close-button {
    position: absolute;
    color: #8a8a8a;
    cursor: pointer;
}

.button.unstyled {
    padding: 0;
    margin: 0;
    color: inherit;
    font-weight: normal;
    font-size: $global-font-size;
}

/// Forms

form {
    .description {
        font-size: rem-calc(10);
    }
}

input[type=checkbox] {
    visibility: hidden;

    &:after {
        visibility: visible;
        content: '';
        height: 15px;
        width: 15px;
        display: block;
        border: 2px solid $primary-color;
        margin-top: -2px;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }

    &:checked:after {
        background: $primary-color;
    }
}

/// common elements

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.element-inline {
    display: inline-block;
    vertical-align: middle;
}

.flex {
    display: flex !important;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

.relative {
    position: relative;
    z-index: 5;
}

.white-separator {
    width: 100%;
    height: 1px;
    background: $white;
    margin: rem-calc(15) 0 rem-calc(15) 0;
}

.primary-triangle-background-top {
    width: 100%;
    height: 200px;
    background-color: $primary-color;
    position: absolute;
    z-index: 1;
    clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
    bottom: -1px;
}

.primary-triangle-background-bottom {
    @extend .primary-triangle-background-top;

    clip-path: polygon(0 0, 0 30%, 100% 0);
    top: 0;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.heading-padding {
    padding: 0 0 rem-calc(50) 0;
}

.trailer-reveal {
    background: $black;
    padding: rem-calc(60) rem-calc(20) rem-calc(20) rem-calc(20);

    .close-button {
        color: $white;
    }
}

.item-seat-map.reveal {
    .close-button {
        top: 20px;
        right: 20px;

        span {
            color: $body-font-color;
        }
    }
}

/// Sections

.section-padding {
    padding: rem-calc(40) 0;

    @include breakpoint(medium) {
        padding: rem-calc(60) 0;
    }
}

.section-padding-2x {
    padding: rem-calc(60) 0 rem-calc(40) 0;

    @include breakpoint(medium) {
        padding: rem-calc(100) 0 rem-calc(60) 0;
    }
}

.section-title {
    font-size: rem-calc(25);
    position: relative;
}

.section-light {
    background: $white;
}

.section-dark {
    background: $dark-gray;
    color: $white;

    .section-title {
        h1 {
            color: $white;
        }
    }

    .button-primary:hover {
        background: $white;
        color: $body-font-color;
    }

    hr {
        border-color: $light-gray;
    }
}

.section-primary {
    background: $primary-color;
}

.section-light-gray {
    background: #f6f6f6;
}

/// Rows

.row-padding {
    padding: rem-calc(20) 0;

    @include breakpoint(medium) {
        padding: rem-calc(40) 0;
    }
}

/// Fields

.field-category {
    font-weight: 800;
}

.field-body, .field-body p {
    font-size: rem-calc(16);
}

/// Typography

.black-bold {
    color: $black;
    font-weight: 600;
}

.bold {
    font-weight: 800;
}

.gray-bold {
    @extend .black-bold;

    color: $medium-gray;
}

.white-bold {
    @extend .black-bold;

    color: $white;
}

.primary-color {
    color: $primary-color;
}

.yellow-left-line {
    @include left-line($primary-color, 90%);

    &.short {
        width: 70%;

        @include breakpoint(large) {
            width: 83%;
        }
    }
}

.white-left-line {
    @include left-line($white, 90%);
}

.yellow-right-line {
    @include right-line($primary-color, 90%);
}

.yellow-fullwidth-line {
    @include fullwidth-line($primary-color);
}

.underline-primary {
    border-bottom: 2px solid $primary-color;
    display: initial;
}

.blue {
    color: $blue;
}

/// Seat icons

.seat-icon {
    @include seat-icon(transparent, $white);
}

.seat-icon-full {
    @include seat-icon($light-gray, $light-gray);
}

.seat-icon-selected {
    @include seat-icon($primary-color, $primary-color);
}

/// Reveal

.reveal-dark {
    background-color: $dark-gray;

    @include breakpoint(small only) {
        padding: rem-calc(4);
    }


    &, h2, h3, p, a, li {
        color: $white;
    }
}

/// Fliper
@include breakpoint(large) {
    /* entire container, keeps perspective */
    .flip-container {
        perspective: 1000px;
    }

    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }

    .flip-container, .front, .back {}

    /* flip speed goes here */
    .flipper {
        transition: 0.6s ease-in-out .2s;
        transform-style: preserve-3d;
        position: relative;
    }

    /* hide back of pane during swap */
    .front, .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    /* front pane, placed above back */
    .front {
        z-index: 2;

        /* for firefox 31 */
        transform: rotateY(0deg);
    }

    /* back, initially hidden pane */
    .back {
        transform: rotateY(180deg);
    }
}