.home-next-events-block {
    padding: rem-calc(40) 0;

    .item {
        position: relative;
        margin-bottom: rem-calc(2);

        .overlay {
            background: rgba(0, 0, 0, 0.42);
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }

        .teaser {
            background: $dark-gray;
            padding: rem-calc(20);
            position: relative;
            z-index: 2;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            min-height: 200px;
            max-height: 200px;

            @include breakpoint(large) {
                min-height: 320px;
                max-height: 320px;
            }


            .teaser-date {
                @include teaser-date($primary-color);
            }

            .teaser-price {
                font-weight: 800;
            }

            .teaser-heading {
                position: relative;
                max-width: 180px;
                margin: auto;
                float: left;

                @include breakpoint(large) {
                    float: none;
                    padding-top: rem-calc(150);
                }


                h2 {
                    color: $white;
                    margin: 0;
                }
            }

            .toggle-full {
                font-size: rem-calc(32);
                position: absolute;
                bottom: 20px;
                left: 20px;
            }
        }

        .full {
            background: $primary-color;
            color: $medium-gray;
            padding: rem-calc(20);
            display: none;
            height: auto;

            @include breakpoint(large) {
                min-height: 320px;
                max-height: 320px;
            }


            &.open {
                display: block;
            }

            @include breakpoint(large) {
                display: block;
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
            }


            .full-heading {
                background: #fff;
                margin-left: -20px;
                padding-left: 20px;
                padding-top: rem-calc(3);
                padding-bottom: rem-calc(3);
                margin-bottom: rem-calc(3);
                color: $medium-gray;
            }

            .full-body {
                color: $medium-gray;
                margin-bottom: rem-calc(10);
                font-size: rem-calc(13);
            }

            .full-more {
                color: $white;
                font-weight: 600;

                &:hover {
                    color: $medium-gray;
                }
            }
        }

        &:hover {
            .full {
                z-index: 3;
            }
        }

        @include breakpoint(large) {
            padding-right: 2px !important;
        }
    }
}

.home-vouchers-block {
    .home-vouchers-block-item {
        h2 {
            font-weight: 800;

            a {
                color: $body-font-color;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }

    .home-voucher-block-link {
        margin-top: rem-calc(20);
    }
}

.home-featured-block {
    .home-featured-block-item {
        .teaser-date {
            @include teaser-date($white);

            float: none;
            margin: auto;
            padding-top: rem-calc(30);
            margin-top: rem-calc(-40);
        }

        .teaser-featured-image {
            margin-top: rem-calc(-90);
            margin-bottom: rem-calc(10);

            img {
                width: 100%;
                filter: brightness(50%);
            }

            @include breakpoint(large) {
                min-height: 210px;
            }
        }

        .teaser-heading {
            h2 {
                font-size: rem-calc(14);
                font-weight: 600;

                a {
                    color: $body-font-color;
                }
            }

            @include breakpoint(medium down) {
                padding: rem-calc(20);
                position: absolute;
                bottom: 10px;
                left: 0;

                h2 {
                    font-size: rem-calc(20);

                    a {
                        color: $white;
                    }
                }

                a {
                    color: $white;
                }
            }
        }

        .field-category {
            &:hover {
                color: $black;
            }
        }

        .teaser-body {
            font-size: rem-calc(12);
        }

        @include breakpoint(large) {
            &:hover {
                color: $black;

                h2 a {
                    color: $black;
                }

                .field-category a {
                    color: $black;
                }

                img {
                    filter: brightness(90%);
                }
            }
        }


        @include breakpoint(medium) {
            padding-right: 2px !important;
        }
    }
}

.home-news-block {
    .home-news-block-item {
        margin-bottom: 2px;
        font-size: rem-calc(12);
        background: $dark-gray;
        color: $white;
        min-height: 120px;

        h2 {
            font-weight: 600;
            font-size: rem-calc(20);

            a {
                color: $white;
            }
        }

        p {
            margin-bottom: 0;
        }

        img {
            display: block;
            width: 100%;
        }

        .teaser-image {
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }

        .teaser-body {
            padding-left: rem-calc(12);
        }

        .teaser-link {
            text-align: center;
            font-size: rem-calc(20);

            a {
                color: $white;
            }
        }

        @include breakpoint(medium) {
            padding: 0;
            color: $body-font-color;
            background: none;
            padding-right: 2px !important;

            h2 {
                font-size: rem-calc(14);

                a {
                    color: $body-font-color;
                }
            }

            .cell {
                padding: 0;
            }

            .teaser-image {
                margin-bottom: rem-calc(15);
            }

            .teaser-body {
                padding: 0;
            }

            &:hover {
                color: $black;

                .teaser-image img {
                    filter: brightness(120%);
                }

                h2 a {
                    color: $black;
                }
            }
        }
    }
}

.home-email-block {
    input[type=email] {
        background: transparent;
        border: none;
        box-shadow: none;
        font-size: rem-calc(25);
        padding: 0;
    }

    button[type=submit] {
        color: $dark-gray;
    }

    .input-group {
        border-bottom: 2px solid $dark-gray;
        margin-bottom: rem-calc(10);
    }
}

.programacio-events-block {
    @extend .home-next-events-block;

    .item {
        &.tabbed {
            margin-top: rem-calc(20);

            @include breakpoint(large) {
                margin-top: rem-calc(-40);

                &:hover {
                    .status-tab {
                        .tab {
                            opacity: .1;
                        }
                    }
                }

                .full {
                    top: 40px;
                }
            }
        }

        &:not(.tabbed) {
            .status-tab {
                display: none;
            }
        }

        @include breakpoint(large) {
            margin-bottom: rem-calc(80);
        }


        .teaser {
            padding: rem-calc(40);
            min-height: auto;
            max-height: 100%;
            padding-bottom: 100px;

            @include breakpoint(large) {
                min-height: 320px;
                max-height: 320px;
                padding-bottom: rem-calc(40);
            }


            .teaser-heading {
                padding-top: 0;
                padding: rem-calc(10) 0;
                margin-top: rem-calc(30);
                background: $primary-color;
                max-width: 100%;
                float: none;

                h2 {
                    color: $body-font-color;
                }

                h2 a {
                    color: $body-font-color;
                }
            }

            .teaser-info {
                background: $dark-gray;
                color: $white;
                padding: rem-calc(20);
                margin-top: rem-calc(20);
            }

            .teaser-date {
                margin: 0;
                padding: rem-calc(7);
                max-width: 90px;
            }
        }

        .full {
            .button {
                margin-top: rem-calc(40);
            }
        }

        &.event-full {
            .overlay {
                background: rgba(255, 255, 255, 0.68);
                z-index: 10;
            }

            .teaser {
                .teaser-heading, .teaser-info {
                    background: $white;
                    color: $body-font-color;
                }

                .teaser-date {
                    border-color: $body-font-color;
                    color: $body-font-color;
                }
            }
        }
    }

    .status-tab {
        .tab {
            padding: rem-calc(10) rem-calc(20);
            font-weight: 800;
            display: inline-block;
            font-size: rem-calc(13);
            margin-left: rem-calc(40);
            transition: opacity ease-in-out .5s;
        }

        .featured-tab {
            background: $primary-color;
            color: $body-font-color;
        }

        .full-tab {
            background: $white;
            font-weight: 800;
            display: inline-block;
        }
    }

    .load-more-pager {
        margin-top: rem-calc(40);
    }
}