.cart-block {
    background-image: url("../images/icons/cart-icon.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    height: 24px;
    margin-top: 2px;
    position: relative;

    a {
        display: block;
        width: 100%;
        height: 100%;
        color: $body-font-color;
    }

    span {
        font-size: rem-calc(10);
        background: $white;
        width: 15px;
        position: absolute;
        display: block;
        top: 4px;
        left: 8px;
        text-align: center;

        @include border-radius(50px);
    }
}

.home-next-events-block {
    padding: rem-calc(40) 0 0 0;

    .item {
        position: relative;
        margin-bottom: rem-calc(2);

        .overlay {
            @include overlay(0.42);
        }

        .teaser {
            background: $dark-gray;
            padding: rem-calc(20);
            position: relative;
            z-index: 2;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            min-height: 200px;
            max-height: 200px;

            @include breakpoint(large) {
                min-height: 320px;
                max-height: 320px;
            }


            .teaser-date {
                @include teaser-date($primary-color);
            }

            .teaser-price {
                font-weight: 800;
            }

            .teaser-heading {
                position: absolute;
                bottom: 20px;
                max-width: 180px;
                margin: auto;

                h2 {
                    color: $white;
                    margin: 0;
                }
            }

            .toggle-full {
                color: $primary-color;
                font-size: rem-calc(32);
                position: absolute;
                bottom: 20px;
                right: 20px;
                z-index: 10;
            }
        }

        .full { 
            background: $primary-color;
            color: $medium-gray;
            padding: rem-calc(20);
            display: none;
            height: auto;
            width: 100%; 

            @include breakpoint(large) {
                min-height: 320px;
                max-height: 320px;
            }


            &.open {
                display: block;
            }

            @include breakpoint(large) {
                display: block;
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
            }


            .full-heading {
                background: #fff;
                margin-left: -20px;
                padding-left: 20px;
                padding-top: rem-calc(3);
                padding-bottom: rem-calc(3);
                margin-bottom: rem-calc(3);
                color: $medium-gray;
            }

            .full-body {
                color: $medium-gray;
                margin-bottom: rem-calc(10);
                font-size: rem-calc(13);
            }

            .full-more {
                color: $white;
                font-weight: 600;

                &:hover {
                    color: $medium-gray;
                }
            }
        }

        &:hover {
            .full {
                z-index: 3;
            }
        }

        @include breakpoint(large) {
            padding-right: 2px !important;
        }
    }
}

.home-vouchers-block {
    .home-vouchers-block-item {
        h2 {
            font-weight: 800;

            a {
                color: $body-font-color;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }

    .home-voucher-block-link {
        margin-top: rem-calc(20);
    }
}

.home-featured-block {
    .home-featured-block-item {
        .teaser-date {
            @include teaser-date($white);

            float: none;
            margin: auto;
            padding-top: rem-calc(30);
            margin-top: rem-calc(-40);
        }

        .teaser-featured-image {
            margin-top: rem-calc(-90);
            margin-bottom: rem-calc(10);

            a {
                display: block;
                width: 100%;
                filter: brightness(50%);
                height: 240px;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        .teaser-heading {
            h2 {
                font-size: rem-calc(14);
                font-weight: 600;

                a {
                    color: $body-font-color;
                }
            }

            @include breakpoint(medium down) {
                padding: rem-calc(20);
                position: absolute;
                bottom: 10px;
                left: 0;

                h2 {
                    font-size: rem-calc(20);

                    a {
                        color: $white;
                    }
                }

                a {
                    color: $white;
                }
            }
        }

        .field-category {
            &:hover {
                color: $black;
            }
        }

        .teaser-body {
            font-size: rem-calc(12);
        }

        @include breakpoint(large) {
            &:hover {
                color: $black;

                h2 a {
                    color: $black;
                }

                .field-category a {
                    color: $black;
                }

                img {
                    filter: brightness(90%);
                }
            }
        }


        @include breakpoint(medium) {
            padding-right: 2px !important;
        }
    }
}

.home-news-block {
    .home-news-block-item {
        margin-bottom: 2px;
        font-size: rem-calc(12);
        background: $dark-gray;
        color: $white;
        min-height: 120px;
        display: flex !important;

        @include breakpoint(medium) {
            display: block !important;
        }

        h2 {
            font-weight: 600;
            font-size: rem-calc(20);

            a {
                color: $white;
            }
        }

        p {
            margin-bottom: 0;
        }

        img {
            display: block;
            width: 100%;

        }

        .teaser-image {
            background-size: cover; 
            background-position: center center;
            background-repeat: no-repeat;
            height: 170px;
            display: block;
        }

        .teaser-body {
            padding: rem-calc(20) 0 rem-calc(20) rem-calc(12);
        }

        .teaser-link {
            text-align: center;
            font-size: rem-calc(20);

            a {
                color: $white;
            }
        }

        @include breakpoint(medium) {
            padding: 0;
            color: $body-font-color;
            background: none;
            padding-right: 2px !important;

            h2 {
                font-size: rem-calc(14);

                a {
                    color: $body-font-color;
                }
            }

            .cell {
                padding: 0;
            }

            .teaser-image {
                margin-bottom: rem-calc(15);
            }

            .teaser-body {
                padding: 0;
            }

            &:hover {
                color: $black;

                .teaser-image img {
                    filter: brightness(120%);
                }

                h2 a {
                    color: $black;
                }
            }
        }
    }
}

.home-email-block {
    input[type=email] {
        background: transparent;
        border: none;
        box-shadow: none;
        font-size: rem-calc(25);
        padding: 0;
    }

    button[type=submit] {
        color: $dark-gray;
    }

    .input-group {
        border-bottom: 2px solid $dark-gray;
        margin-bottom: rem-calc(10);
    }
}

.programacio-events-block {
    @extend .home-next-events-block;

    .item {
        margin-bottom: rem-calc(20);

        &.tabbed {
            margin-top: rem-calc(20);

            @include breakpoint(large) {
                margin-top: rem-calc(-40);

                &:hover {
                    .status-tab {
                        .tab {
                            opacity: .1;
                        }
                    }
                }

                .full {
                    top: 40px;
                }
            }
        }

        &:not(.tabbed) {
            .status-tab {
                display: none;
            }
        }

        @include breakpoint(large) {
            margin-bottom: rem-calc(80);
        }


        .teaser {
            padding: rem-calc(10);
            min-height: auto;
            max-height: 100%;
            padding-bottom: 100px;

            @include breakpoint(medium) {
                padding: rem-calc(20);
            }


            @include breakpoint(large) {
                min-height: 320px;
                max-height: 320px;
            }


            @include breakpoint(xlarge) {
                padding: rem-calc(40);
            }


            .teaser-heading {
                position: relative;
                padding-top: 0;
                padding: rem-calc(10) 0;
                margin-top: rem-calc(30);
                background: $primary-color;
                max-width: 100%;
                float: none;

                h2 {
                    color: $body-font-color;
                }

                h2 a {
                    color: $body-font-color;
                }
            }

            .teaser-info {
                background: $dark-gray;
                color: $white;
                padding: rem-calc(20);
                margin-top: rem-calc(20);
            }

            .teaser-date {
                margin: 0;
                padding: rem-calc(7);
                max-width: 90px;
            }
        }

        .full {
            h2 {
                font-weight: 100;
            }

            .button {
                margin-top: rem-calc(40);

                &:hover {
                    background: $white;
                    color: $body-font-color;
                }
            }
        }

        &.event-full {
            .overlay {
                background: rgba(255, 255, 255, 0.68);
                z-index: 10;
            }

            .teaser {
                .teaser-heading, .teaser-info {
                    background: $white;
                    color: $body-font-color;
                }

                .teaser-date {
                    border-color: $body-font-color;
                    color: $body-font-color;
                }
            }

            .full {
                .button {
                    display: none;
                }
            }
        }
    }

    .status-tab {
        .tab {
            padding: rem-calc(10) rem-calc(20);
            font-weight: 800;
            display: inline-block;
            font-size: rem-calc(13);
            margin-left: rem-calc(40);
            transition: opacity ease-in-out .5s;
        }

        .featured-tab {
            background: $primary-color;
            color: $body-font-color;
        }

        .full-tab {
            background: $white;
            color: $body-font-color;
            font-weight: 800;
            display: inline-block;
        }
    }

    .load-more-pager {
        margin-top: rem-calc(40);
    }
}

.event-tickets-block {
    padding: rem-calc(40) 0 0 0;

    .event-status {
        display: none;
        margin-bottom: rem-calc(10);
        font-size: rem-calc(12);
        color: $success-color;
        font-weight: 600;
        transition: color .3s ease-in-out .1s;

        @include breakpoint(medium) {
            display: block;
            margin: 0;
        }
    }

    .event-actions {
        .button {
            background: transparent;
            color: $body-font-color;
            border: 2px solid $primary-color;
            margin: rem-calc(10) 0 0 0;
            transition: all .3s ease-in-out;

            &:hover {
                background: $dark-gray;
                color: $white;
            }

            &:disabled:hover, &.disabled:hover {
                background: transparent;
            }

            @include breakpoint(medium) {
                margin: 0;
            }
        }
    }

    .event-tickets-item.callout {
        border-color: $primary-color;
        transition: background .3s ease-in-out .1s;
        margin-top: -2px;

        @include breakpoint(small only) {
            padding: rem-calc(20);
        }


        &:hover {
            background: $primary-color;

            .event-status {
                color: $body-font-color;
            }

            .button {
                border-color: $body-font-color;
            }
        }
    }

    .event-tickets-item.callout.event-full {
        background: $very-light-gray;
        border-color: $very-light-gray;
        color: $light-gray;

        .event-status {
            display: block !important;
            color: $light-gray;
        }

        .event-actions {
            .button {
                &:hover {
                    color: $light-gray;
                }
            }
        }
    }

    .event-tickets-item.callout.event-cancelled {
        background: $alert-color;
        border-color: $alert-color;
        color: darken($alert-color, 30%);

        .event-status {
            display: block !important;
            color: darken($alert-color, 30%);
        }

        .event-actions {
            .button {
                color: darken($alert-color, 30%);
                border-color: darken($alert-color, 30%);

                &:hover {
                    background: darken($alert-color, 30%);
                    color: $white;
                }
            }
        }
    }
}

.event-trailer-block {
    .owl-item {
        background: #f9f9f9;
    }
    .item img {
        max-height: 250px; 
        width: auto;
        margin: auto;
        @include breakpoint(large) {
            max-height: 350px;
        }
    }

    .event-trailer-link {
        .owl-video-wrapper {
            display: none;
        }

        a {
            color: $body-font-color;
        }
    }
}

.event-recommended-block {
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);

    .event-recommended-item {
        min-height: 200px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        .overlay {
            @include overlay(0.42);
        }

        .item-heading {
            position: absolute;
            bottom: 20px;
            left: 0;
            width: 100%;
            padding-left: 40px;

            h2 {
                color: $white;
                margin: 0;
                padding-bottom: rem-calc(10);
            }

            a {
                color: $white;
                display: block;
            }
        }

        &:hover {
            .overlay {
                background: rgba(255, 255, 255, 0.68);

                //z-index: 10;
           
            }

            h2, a {
                color: $black;
            }
        }
    }
}

.seat-map-tickets-block {
    display: none;

    @include breakpoint(medium) {
        display: block;
    }


    &.expanded {
        display: block;
    }

    .seat-map-tickets-inner {
        background: $primary-color;
        padding: rem-calc(20);
        color: $body-font-color;
    }

    .seat-map-ticket {
        border: 2px solid $black;
        padding: rem-calc(20);
        position: relative;
        margin-bottom: rem-calc(20);

        hr {
            margin: rem-calc(5) 0;
            border-width: 2px;
            border-color: $black;
        }

        .values {
            font-weight: 800;
            font-size: rem-calc(20);
        }

        .labels {
            font-size: rem-calc(12);
        }

        .seat-map-ticket-price {
            font-weight: 800;
        }

        .seat-map-ticket-remove {
            border: 2px solid $dark-gray;
            position: absolute;
            top: -10px;
            right: -10px;
            margin: 0;
            padding: 10px 11px;

            &:hover {
                background: $dark-gray;
                color: $white;
            }
        }
    }

    .seat-map-ticket-total {
        hr {
            border-width: 2px;
            border-color: $black;
        }
    }
}

.login-form-block {
    background-color: $dark-gray;
    padding: rem-calc(20);

    .form-block-heading {
        color: $primary-color;
        padding-bottom: rem-calc(20);
        border-bottom: 2px solid $primary-color;
    }

    .form-block-image {
        padding: rem-calc(20) 0;
    }

    h3 {
        color: $white;
        font-size: rem-calc(18);
    }

    form {
        padding-bottom: rem-calc(20);
        margin-bottom: rem-calc(20);
        border-bottom: 2px solid $primary-color;
    }

    input[type=text], input[type=password], input[type=email], select {
        background-color: transparent;
        border: 2px solid $white;
        color: $white;

        &::-webkit-input-placeholder {
            color: $white;
        }

        &::-moz-placeholder {
            color: $white;
        }

        &:-ms-input-placeholder {
            color: $white;
        }

        &:focus, &:hover {
            color: $primary-color;
            border-color: $primary-color;

            &::-webkit-input-placeholder {
                color: $primary-color;
            }
        }

        &.error {
            color: $alert-color;
            border-color: $alert-color;
        }
    }

    input[type=checkbox] {
        margin-bottom: 0;
    }

    label {
        color: $white;
    }

    button {
        &:hover {
            background: $dark-gray;
            border-color: $primary-color;
            color: $primary-color;
        }
    }

    .form-message {
        margin-bottom: rem-calc(10);

        &.alert {
            color: $alert-color;
        }

        &.success {
            color: $success-color;
        }

        &.warning {
            color: $warning-color;
        }
    }
}

.register-form-block {
    @extend .login-form-block;
}

.password-recovery-form-block {
    @extend .login-form-block;
}

.my-account-form-block {
    @extend .login-form-block;

    form {
        border-bottom: none;
    }
}

.cart-section-tickets-block {
    .item {
        padding-top: rem-calc(30);
        position: relative;

        .item-remove-button {
            position: absolute;
            right: 15px;
            top: 0;

            a {
                color: #ccc;

                &:hover {
                    color: $body-font-color;
                }
            }
        }

        .grid-padding-x {
            margin-left: rem-calc(15);
            margin-right: rem-calc(15);
        }

        .item-heading {
            background: $dark-gray;
            color: $white;
            padding-top: rem-calc(10);
            padding-bottom: rem-calc(10);
            margin-bottom: rem-calc(3);

            h3 {
                margin: 0;
                font-size: rem-calc(15);
            }

            .item-metadata {
                ul li {
                    margin-right: rem-calc(20);
                }
            }
        }

        .item-information {
            .cell {
                padding-top: rem-calc(20);
                padding-bottom: rem-calc(10);
                position: relative;
                text-align: center;
                font-weight: 800;

                &:not(:last-child) {
                    border-right: 1px solid $white;
                }
            }

            .item-cell-name {
                font-size: rem-calc(12);
                position: absolute;
                top: 5px;
                left: 15px;
                font-weight: 400;
            }

            .item-section, .item-file, .item-number {
                background: $primary-color;
                color: $body-font-color;
            }

            .item-tariff, .item-price {
                background: $very-light-gray;
            }

            .item-section {
                .fa-wheelchair {
                    display: none;
                }
            }

            .item-section.section-wheelchair {
                .fa-wheelchair {
                    display: inline !important;
                    font-weight: 800;
                }
            }

            .no-cell-name {
                padding-top: rem-calc(15);
            }
        }

        .item-footer {
            margin-top: rem-calc(5);

            a {
                font-size: rem-calc(12);
            }

            .menu hr {
                margin: 0;
            }

            .menu a:after {
                display: none;
            }

            .menu a:hover {
                color: $anchor-color;
            }

            .menu ul a {
                color: $body-font-color;
            }
        }
    }
}

.historial-section-block {
    @extend .cart-section-tickets-block;

    .item {
        .item-tickets {
            background: $very-light-gray;
        }

        .item-download {
            background: $primary-color;

            a {
                color: $body-font-color;
            }
        }
    }
}

.section-subscriptions-available-block {
    .item {
        margin-bottom: rem-calc(20);

        h3 {
            font-weight: 800;
        }

        p {
            margin: 0;
        }

        .wrapper {
            padding: rem-calc(20);
            background: $primary-color;
            color: $body-font-color;
        }
    }
}

.subscriptions-tickets-block {
    @extend .cart-section-tickets-block;
}

.subscription-item-reveal-block {
    h3 {
        font-size: rem-calc(18);
    }

    .item-heading {
        background: $primary-color;

        h2 {
            color: $body-font-color;
            padding: rem-calc(10);
        }
    }

    .item-body {
        margin-top: rem-calc(20);
    }

    .sessions-column {
        @include breakpoint(large) {
            padding-right: rem-calc(20);
        }
    }

    .item-sessions-list {
        .item {
            padding: rem-calc(10);
            margin-bottom: rem-calc(10);
            background: $very-light-gray;
            position: relative;

            a {
                display: block;
            }

            &, * {
                color: $body-font-color;
            }

            .session-status {
                margin-top: rem-calc(10);
                font-size: rem-calc(12);
                font-weight: 800;
                color: $success-color;
            }

            &:hover:not(.session-full), &:focus, &.selected {
                background: $primary-color;
            }

            &.session-full {
                &:before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    z-index: 10;
                    background: transparentize($white, 0.4);
                    top: 0;
                    left: 0;
                    position: absolute;
                }

                .session-status {
                    color: $body-font-color;
                }
            }
        }
    }
}

.subscription-select-events-block {
    @extend .programacio-events-block;

    .item {
        .teaser {
            min-height: 350px;
            cursor: pointer;

            .teaser-heading {
                position: relative;
            }

            .teaser-date {
                max-height: 90px;
            }

            .button {
                margin: 0;
            }

            .button:hover {
                background: $white;
                color: $body-font-color;
            }
        }

        .button.button-deselect {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: -999;
            transition: opacity .3s ease-in-out;
            opacity: 0;

            &.show {
                z-index: 999;
                opacity: 1;
            }
        }

        &.selected {
            .overlay {
                background: transparentize($primary-color, 0.5);
                cursor: pointer;
            }
        }
    }
}

.section-subscriptions-list-block {
    .item {
        border: 1px solid $primary-color;
        margin-bottom: rem-calc(20);

        .item-heading {
            background: $white;
            color: $body-font-color;
            padding-top: rem-calc(10);
            padding-bottom: rem-calc(10);

            h2 {
                color: $body-font-color;
                font-weight: 800;
                margin: 0;
            }

            p {
                margin: 0;
            }
        }

        .item-body {
            padding: rem-calc(20);

            ul {
                margin-left: 0;

                li {
                    list-style: none;
                    margin-bottom: rem-calc(5);

                    &:before {
                        content: "\2014\a0";
                    }
                }
            }
        }

        .item-image {
            margin-bottom: rem-calc(20);

            img {
                width: 100%;
            }

            @include breakpoint(medium) {
                margin: 0;
            }
        }
    }
}