.hero-slideshow {
    .owl-dots {
        position: absolute;
        bottom: 10px;
        width: 100%;

        @include breakpoint(medium) {
            bottom: 40px;
        }


        .owl-dot span {
            background: $white;
        }

        .owl-dot:hover span {
            background: $primary-color;
        }

        .owl-dot.active span {
            background: $primary-color;
        }
    }
}

.featured-carousel {
    .owl-stage-outer {
        padding-top: rem-calc(90);
    }

    .owl-dots {
        .owl-dot span {
            background: $white;
        }

        .owl-dot:hover span {
            background: $dark-gray;
        }

        .owl-dot.active span {
            background: $dark-gray;
        }
    }
}

.event-trailer-carousel {
    .item-video {
        height: 400px;
    }

    .owl-video-play-icon {
        background: url("../images/owl/owl.video.play.png");
    }

    .owl-dots {
        position: absolute;
        bottom: 20px;
        width: 100%;
        max-width: 770px;

        @include breakpoint(medium) {
            bottom: 20px;
        }


        .owl-dot span {
            background: $white;
        }

        .owl-dot:hover span {
            background: $primary-color;
        }

        .owl-dot.active span {
            background: $primary-color;
        }
    }
}