.nav-bar {
    padding: rem-calc(30) 0;

    &.fixed {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
    }

    &.white {
        @include breakpoint(medium) {
            .menu > li > a {
                color: $white;

                &:hover {
                    color: $anchor-color;
                }
            }
        }


        .menu-toggle {
            color: $white;
        }
    }

    &.dark {
        @include breakpoint(medium) {
            .menu > li > a {
                color: $body-font-color;

                &:hover {
                    color: $anchor-color;
                }
            }
        }


        .logo img {
            filter: brightness(30%);
        }

        .menu-toggle {
            color: $body-font-color;
        }
    }

    .menu li {
        font-size: rem-calc(15);
        font-weight: 600;
    }

    .dropdown.menu {
        .menu {
            background: transparent;
            border: none;
        }

        li.opens-left {
            text-align: right;
        }
    }

    .menu-toggle {
        font-size: rem-calc(30);
        line-height: 30px;
        margin-left: rem-calc(5);
    }

    .responsive-menu.open {
        display: block;
    }

    @include breakpoint(small only) {
        .responsive-menu {
            display: none;
            background: $light-gray;
            margin-top: rem-calc(20);
        }

        .menu-inline {
            margin-top: rem-calc(20);

            .menu li {
                margin-bottom: rem-calc(5);
            }

            .is-dropdown-submenu-parent, .is-accordion-submenu-parent {
                background: $light-gray;
                width: 100%;

                .menu {
                    width: 100%;
                    background: transparent;
                    border: none;
                    border-left: 2px solid $primary-color;
                    margin-top: rem-calc(5);

                    li {
                        font-size: rem-calc(14);
                    }

                    a {
                        padding-top: rem-calc(5);
                        padding-bottom: rem-calc(5);
                    }
                }
            }
        }

        .programacio-menu {
            .menu {
                li {
                    position: relative;

                    &:after {
                        content: "\f105";
                        position: absolute;
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: 400;
                        right: 10px;
                        top: 3px;
                        color: $black;
                        font-size: 20px;
                    }
                }

                a {
                    background: $primary-color;
                    color: $black !important;
                }
            }
        }
    }


    @include breakpoint(medium) {
        .menu {
            li {
                font-size: rem-calc(13);
            }
        }

        .dropdown.menu {
            .menu {
                background: transparent;
                border: none;
                margin-left: 20px;
                border-left: 1px solid $primary-color;

                a {
                    padding-top: rem-calc(5);
                    padding-bottom: rem-calc(5);
                }
            }

            .opens-left {
                .menu {
                    border-left: none;
                    border-right: 1px solid $primary-color;
                }

                a {
                    padding-right: rem-calc(20);
                }
            }

            & > li.is-dropdown-submenu-parent > a::after {
                display: none;
            }
        }

        .programacio-menu {
            border: 2px solid $primary-color;

            .menu-separator {
                color: $primary-color;
                font-size: 27px;
                line-height: 30px;
                height: 0;
                width: 0px;
                vertical-align: bottom;
                text-align: center;
                display: inline-table;
                font-weight: 100;
            }
        }

        .site-account-menu {
            .menu li {
                font-size: rem-calc(10);
            }

            .fa {
                font-size: rem-calc(13);
            }
        }

        .inline-menus {
            display: flex;
            justify-content: flex-end;
        }
    }
}