// Homepage

.page-home {
    .main-header {
        @include breakpoint(medium) {
            min-height: 640px;
        }


        .main-header-event {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom center;
            color: $white;
            padding-top: rem-calc(100);
            padding-bottom: rem-calc(40);

            h1 {
                color: $white;
                font-weight: 400;
                line-height: 1.1;

                @include text-shadow;

                @include breakpoint(medium) {
                    font-size: rem-calc(57);
                    font-weight: 200;
                }
            }

            p {
                margin-bottom: 0;

                @include text-shadow;
            }

            .button {
                margin: rem-calc(15) 0;
            }

            .field-category {
                padding: rem-calc(10) 0;
                font-weight: 600;

                @include text-shadow;

                a {
                    color: $white;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }

            .hero-slideshow-item-overlay {
                background-color: #333;
            }

            @include breakpoint(medium) {
                min-height: 650px;
                padding-top: rem-calc(270);
                padding-bottom: 0;
            }
        }
    }

    .home-vouchers-section {
        .home-voucher-heading {
            width: 100%;
        }

        .home-voucher-button {
            .button {
                border-width: 2px;
                background: $white;
                color: $body-font-color !important;
                cursor: initial;

                &:hover {
                    background: $white;
                }
            }
        }
    }

    .home-about-section {
        .home-about-inner {
            background-repeat: no-repeat;
            background-position: center center;
            min-height: 590px;
        }

        .home-about-content {
            padding-top: rem-calc(60);

            h2 {
                background-color: $primary-color;
                color: $body-font-color;
                display: initial;
                padding: rem-calc(8);
                font-size: rem-calc(25);
                margin-bottom: rem-calc(20);
            }

            a {
                color: $body-font-color;

                &:hover {
                    color: $anchor-color;
                }

                @include breakpoint(medium down) {
                    display: initial;
                    background-color: $dark-gray;
                    color: $white;
                    padding: rem-calc(8);
                    font-size: rem-calc(20);
                    margin-bottom: rem-calc(5);
                    line-height: 2.5;
                }
            }

            .home-about-heading {
                margin-bottom: rem-calc(20);
            }

            @include breakpoint(medium) {
                padding-top: rem-calc(160);
            }
        }
    }
}

.page-event {
    .event-header-teaser {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 400px;

        @include breakpoint(medium) {
            min-height: 470px;
        }


        .event-header-row {
            min-height: 400px;

            @include breakpoint(medium) {
                min-height: 470px;
            }


            h1 {
                color: $white;

                @include text-shadow;

                margin-bottom: rem-calc(20);
            }

            .button-date {
                background: $white;
                font-weight: normal;
                cursor: initial;

                .fa {
                    font-size: 10px;
                    line-height: 13px;
                    vertical-align: bottom;
                    margin-right: 5px;
                }
            }
        }
    }

    .event-content {
        .event-content-main {
            padding: rem-calc(40) 0;

            .event-info {
                padding: rem-calc(30);
                background: $primary-color;

                h2 {
                    background: $white;
                    padding: rem-calc(10);
                    font-weight: 100;
                    margin-top: rem-calc(20);
                }

                hr {
                    border-color: $white;
                    margin: rem-calc(10) 0;
                    border-width: 2px;
                }

                .field {
                    margin-bottom: rem-calc(15);
                }

                .field-tech-details.callout {
                    background: $white;
                    border: none;

                    hr {
                        border-color: $primary-color;
                        border-width: 1px;
                    }
                }

                .field-more-link {
                    margin-top: 20px;

                    a {
                        color: $dark-gray;
                        font-weight: 600;

                        &:hover {
                            color: $white;
                        }
                    }
                }
            }

            .event-extra {
                @include breakpoint(small only) {
                    padding: 0;
                }


                .event-extra-inner {
                    border: 2px solid $primary-color;
                    padding: rem-calc(30);

                    @include breakpoint(medium) {
                        &, .grid-x {
                            height: 100%;
                        }
                    }


                    h4 {
                        font-weight: 800;
                        font-style: italic;
                        margin-top: rem-calc(20);
                    }

                    .heading {
                        margin-bottom: rem-calc(30);
                    }

                    .event-extra-second-column {
                        @include breakpoint(medium) {
                            height: 100%;
                            border-left: 2px solid $primary-color;
                        }
                    }
                }
            }
        }
    }
}

.page-about {
    .about-header {
        .about-header-inner {
            position: relative;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-color: $dark-gray;

            &:after {
                content: '';
                height: 2px;
                width: 100%;
                background: $primary-color;
                position: absolute;
                left: 0;
                bottom: 400px;
                z-index: 1;
            }
        }

        .about-header-heading {
            padding: rem-calc(40) 0;

            h1 {
                font-size: rem-calc(27);
                color: $white;
            }
        }
    }

    .about-header-content {
        @include breakpoint(small only) {
            margin-top: 20%;
        }


        .about-description, .about-description-2 {
            background: transparentize($primary-color, 0.1);
            padding: rem-calc(20);
            color: $dark-gray;

            hr {
                border-color: $white;
                border-width: 2px;
            }

            .about-description-heading {
                background: $white;
                padding: rem-calc(10);
                margin-left: rem-calc(-20);
                margin-bottom: rem-calc(20);

                h2 {
                    margin: 0;
                    padding-left: rem-calc(20);
                }
            }

            @include breakpoint(medium) {
                margin-top: 150px;
            }
        }

        .about-next-events {
            h3 {
                color: $white;
                text-transform: uppercase;
                margin-bottom: rem-calc(0);
            }
        }
    }

    .about-header-gallery {
        position: relative;
        z-index: 2;

        @include breakpoint(medium) {
            margin-top: -80px;
        }


        @include breakpoint(large) {
            margin-top: -150px;
        }


        .cell:nth-child(2), .cell:nth-child(4) {
            @include breakpoint(medium) {
                margin-top: 145px;
            }
        }

        .cell:nth-child(3) {
            @include breakpoint(medium) {
                margin-top: 260px;
            }
        }

        .cell {
            img {
                width: 100%;
                margin-bottom: rem-calc(20);
            }
        }
    }

    .about-bookings-info {
        padding: rem-calc(20) 0;

        h3 {
            color: $body-font-color;
            font-size: rem-calc(20);
            font-weight: 100;
        }

        hr {
            border-color: $white;
            border-width: 2px;
        }
    }

    .about-cultura {
        .about-cultura-heading {
            padding: rem-calc(40) 0;

            .yellow-left-line {
                width: 85%;
            }
        }

        .about-cultura-content {
            .callout {
                border-color: $primary-color;
                max-width: 350px;
                margin-top: rem-calc(20);
            }
        }
    }

    .about-workshops {
        .about-cultura-heading {
            padding: rem-calc(40) 0;

            .yellow-right-line {
                width: 85%;
            }
        }
    }
}