.seats-map-seats-block {
    overflow-x: hidden;
    display: none;

    @include breakpoint(medium) {
        display: block;
    }


    &.expanded {
        display: block !important;
    }

    .seats-block-fullarea {
        max-width: 800px;
        min-width: 100%;
        overflow-x: auto;
        position: relative;
        margin: auto;
        border: 2px solid $white;

        .seats-block-area {
            border-bottom: 2px dashed transparentize($white, 0.4);

            @include breakpoint(medium) {
                padding: rem-calc(20);
            }


            .area-name {
                text-align: center;
                font-size: rem-calc(25);
                padding: rem-calc(10) 0;
                display: block;

                @include breakpoint(medium) {
                    font-size: rem-calc(14);
                    text-align: left;
                    padding: 0;
                }
            }
        }

        .seats-block-stage {
            padding: rem-calc(10);

            .stage-box {
                background: $light-gray;
                color: $body-font-color;
                display: inline-block;
                padding: 10px 100px;
                font-weight: 600;
            }
        }
    }

    .seats-row {
        margin-bottom: rem-calc(5);
        text-align: center;

        a {
            padding: rem-calc(2);

            @include breakpoint(medium) {
                padding: rem-calc(4);
            }
        }

        h3 {
            margin: 0;
        }

        .wheelchair-row {
            display: none;

            @include breakpoint(medium) {
                display: block;
                position: absolute;
                right: 20px;
            }


            .fa {
                font-size: rem-calc(20);
                color: #60cbe8;
            }
        }

        .seats {
            text-align: center;

            @include flex;

            @include flex-align("center", "middle");
        }

        .seat {
            .seat-tooltip {
                display: none;
                padding: rem-calc(20) rem-calc(5);
                font-size: rem-calc(12);
                background: #e6e7e8;
                position: fixed;
                color: $body-font-color;
                z-index: 99;
                text-align: center;
                width: 100%;
                bottom: 0;
                left: 0;

                .fa {
                    color: #60cbe8;
                    font-size: rem-calc(15);
                }

                &.seat-full {
                    background: $light-gray;
                    color: $white;
                }

                &.show {
                    display: block;
                }

                @include breakpoint(medium) {
                    padding: rem-calc(10) rem-calc(5);
                    position: absolute;
                    width: 100px;
                    top: -35px;
                    left: 0;
                    bottom: auto;
                }
            }

            @include breakpoint(medium) {
                position: relative;
            }
        }

        .seat-column {
            @include flex;
        }

        .seats {
            .seat-column {
                @include xy-cell-static(auto, true, 10);

                @include flex-align("center", "middle");
            }

            .seat-column:first-child {
                text-align: right;

                @include xy-cell-static(auto, true, 10);

                @include flex-align("right", "middle");
            }

            .seat-column:last-child {
                text-align: left;

                @include flex-align("left", "middle");
            }
        }

        a:hover .seat-icon, a:focus .seat-icon, a.seat-selected .seat-icon {
            @include seat-icon($primary-color, $primary-color);
        }

        a.seat-full .seat-icon {
            @include seat-icon($light-gray, $light-gray);
        }

        a[data-wheelchair="true"].seat-full .seat-icon {
            @include seat-icon($light-gray, #60cbe8);
        }

        a[data-wheelchair="true"] .seat-icon {
            @include seat-icon(transparent, #60cbe8);
        }

        a[data-wheelchair="true"]:not(.seat-full):hover .seat-icon, a[data-wheelchair="true"]:not(.seat-full):focus .seat-icon {
            @include seat-icon($primary-color, #60cbe8);
        }

        a.fake-seat {
            visibility: hidden;
        }
    }
}