/// These are sections that can be copied to other pages, not specific sections

.filters-section {
    background-color: $dark-gray;
    border-bottom: 1px solid $primary-color;
    font-size: rem-calc(14);

     
#filters {
    display: none;
    @include breakpoint(medium) {
        display: block;
    }}

    .filter-toggle {
        display: block;
    }

    a:not(.button) {
        color: $white;

        &:hover {
            color: $primary-color;
        }
    }

    ul.menu {
        li {
            font-size: rem-calc(14);
            color: $white;
        }

        .active {
            color: $primary-color;
            font-weight: 800;
        }
    }

    .filter-label {
        @include breakpoint(medium){ 
            &:not(.no-arrow) {
                position: relative;
            }

            &:not(.no-arrow):after {
                content: "\f054";
                font-family: FontAwesome;
                font-style: normal; 
                font-weight: 400;
                font-size: 10px;
                text-decoration: inherit;
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -3px;
                color: #fff;
            }
        }

        a {
            padding-left: 0;
        }

        &.full-small {
            @include breakpoint(small only) {
                margin-bottom: rem-calc(10);
                padding-bottom: rem-calc(10);
                display: block;
                width: 100%;
                border-bottom: 1px solid $light-gray;
            }
        }
    }

    .filter-row {
        padding: rem-calc(10) 0;
    }

    .yellow-separator {
        width: 100%;
        height: 1px;
        background: $primary-color;
        margin: 10px auto -10px auto;
        max-width: 1170px;
    }

    .all-categories-button {
        margin-top: rem-calc(20);
        @include breakpoint(medium) {
            margin-top: 0;
            margin-right: rem-calc(15);
        }
    }

    @include breakpoint(medium) {
        font-size: rem-calc(13);

        ul.menu {
            li {
                font-size: rem-calc(13);
            }
        }
    }
}


.contact-section {
    .contact-content {

        .callout {
            border-color: $primary-color;
            background: transparent;
        }
        a {
            color: $body-font-color;
            font-size: rem-calc(22);
            @include breakpoint(medium) {
                font-size: rem-calc(14);
            }
        }
        .separator {
            color: $primary-color; 
            font-size: 27px;
            line-height: 0;
            height: 0;
            width: 0;
            vertical-align: bottom;
            text-align: center;
            display: inline-table;
            font-weight: 400;
            margin-right: -10px;
            margin-left: 10px;
        }
    }
    .contact-form {
        #contact-form {

            padding: rem-calc(40);
            background: $dark-gray;
        
        }
        input[type=text], input[type=email], textarea {
            background: transparent;
            border: 2px solid $white;
            color: $white;
            margin-bottom: rem-calc(40);
            &:focus, &:hover {
                border-color: $primary-color;
            }
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $white;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          color: $white;
        }
        :-ms-input-placeholder { /* IE 10+ */
          color: $white;
        }
        :-moz-placeholder { /* Firefox 18- */
          color: $white;
        }
    }
}

.share-section {
    .share-section-heading {
        padding-bottom: rem-calc(20); 
    }
    .share-section-content {
        ul.menu {
            a {
                color: $light-gray;
                &:hover {
                    color: $anchor-color;
                }
                .fa {
                    font-size: rem-calc(28);
                }
            }
        }
    }
}

