.filters-section {
    background-color: #4d4d4f;
    border-bottom: 1px solid $primary-color;
    font-size: rem-calc(14);

     
#filters {
    display: none;
    @include breakpoint(medium) {
        display: block;
    }
}
    a:not(.button) {
        color: $white;

        &:hover {
            color: $primary-color;
        }
    }

    ul.menu {
        li {
            font-size: rem-calc(14);
            color: $white;
        }

        .active {
            color: $primary-color;
            font-weight: 600;
        }
    }

    .filter-label {
        @include breakpoint(medium){ 
            &:not(.no-arrow) {
                position: relative;
            }

            &:not(.no-arrow):after {
                content: "\f054";
                font-family: FontAwesome;
                font-style: normal; 
                font-weight: 400;
                font-size: 10px;
                text-decoration: inherit;
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -3px;
                color: #fff;
            }
        }

        a {
            padding-left: 0;
        }

        &.full-small {
            @include breakpoint(small only) {
                margin-bottom: rem-calc(10);
                padding-bottom: rem-calc(10);
                display: block;
                width: 100%;
                border-bottom: 1px solid $light-gray;
            }
        }
    }

    .filter-row {
        padding: rem-calc(10) 0;
    }

    .yellow-separator {
        width: 100%;
        height: 1px;
        background: $primary-color;
        margin: 10px auto -10px auto;
        max-width: 1170px;
    }

    .all-categories-button {
        margin-top: rem-calc(20);
        @include breakpoint(medium) {
            margin-top: 0;
            margin-right: rem-calc(15);
        }
    }

    @include breakpoint(medium) {
        font-size: rem-calc(13);

        ul.menu {
            li {
                font-size: rem-calc(13);
            }
        }
    }
}

.event-trailer {
    position: relative;
    &:after {
        content: '';
        background-color: $primary-color;
        height: 200px;
        width: 100%;
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
    }
}

